{{! adding @JsonNullableIsPresent instead of @NotNull - see https://github.com/OpenAPITools/openapi-generator/issues/11969#issuecomment-1084351433}}
{{#required}}{{^isReadOnly}}{{#isNullable}}@JsonNullableIsPresent {{/isNullable}}{{^isNullable}}@NotNull {{/isNullable}}{{/isReadOnly}}{{/required}}{{#isContainer}}{{^isPrimitiveType}}{{^isEnum}}@Valid {{/isEnum}}{{/isPrimitiveType}}{{/isContainer}}{{^isContainer}}{{^isPrimitiveType}}@Valid {{/isPrimitiveType}}{{/isContainer}}{{>beanValidationCore}}